<header class="hero">
    <h1><a href="/" style="text-decoration: none; color: inherit;">Gabriel De Luna</a></h1>
    <p class="subtitle">Software Engineer.</p>
    <nav class="links">
        <a href="mailto:gabe@outlook.com">Email</a>
        <a href="https://github.com/gdeluna/">GitHub</a>
        <a href="https://bsky.app/profile/gdelunax.bsky.social">BlueSky</a>
        <a href="https://www.linkedin.com/in/gabriel-de-luna-52437731/">LinkedIn</a>
    </nav>
</header>
